<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="phone-call-plugin"
    version="0.1">
    
    <name>PhoneCallPlugin</name>
    <description>This plugin use to verify PhoneCallPlugin</description>
    
    <js-module src="phone-call-plugin.js">
        <clobbers target="window.PhoneCallPlugin" />
    </js-module>
    
    <!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="PhoneCallPlugin">
                <param name="ios-package" value="PhoneCallPlugin" />
            </feature>
        </config-file>
        <header-file src="src/ios/PhoneCallPlugin.h" />
        <source-file src="src/ios/PhoneCallPlugin.m" />
    </platform>
    
    <!-- Android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PhoneCallPlugin">
                <param name="android-package" value="PhoneCallPlugin"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.CALL_PHONE"/>
            <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
            <uses-feature android:name="android.hardware.telephony" android:required="false" />
        </config-file>
        <source-file src="src/android/PhoneCallPlugin.java"/>
    </platform>
</plugin>